$mobile-breakpoint ?= 1024px
$desktop-breakpoint ?= 1024px
$brand-primary-color ?= rgba(68, 0, 255, 1)
$brand-primary-color-light ?= lighten($brand-primary-color, 10%)
$brand-primary-color-dark ?= darken($brand-primary-color, 20%)
