$mobile-breakpoint ?= 1024px
$desktop-breakpoint ?= 1024px
$brand-primary-color ?= rgba(102, 0, 255, 1)
$brand-primary-color = rgba(0, 102, 255, 1)
$brand-primary-color-light ?= lighten($brand-primary-color, 10%)
$brand-primary-color-dark ?= darken($brand-primary-color, 20%)

$slow-ease-out ?= cubic-bezier(0, 0.73, 0, 0.99)
$slow-ease-in ?= cubic-bezier(0.73, 0, 0.99, 0)
